[2022-04-29 14:51] #876 closed

[2022-04-29 16:51] #250 closed

[2022-04-29 16:51] mevdschee commented on #313
Released in v2.14.0

[2022-04-29 16:56] mevdschee commented on #716
We may support json encoding options, such as:

- unescaped utf8
- unescaped json
- pretty printing

see flags here: https://www.php.net/manual/en/function.json-encode.php

[2022-04-29 17:19] mevdschee commented on #313
Released in v2.14.0

[2022-04-30 23:00] mevdschee commented on #872
Closing due to inactivity.

[2022-04-30 23:00] #872 closed

[2022-05-01 13:03] mevdschee commented on #716
Implemented in #877

[2022-05-01 13:10] mevdschee commented on #716
Released in v2.14.2

[2022-05-01 13:10] #716 closed

[2022-05-01 13:10] mevdschee commented on #813
Released in v2.14.2

[2022-05-02 05:41] KoljaL commented on #870
Whyte not use the mail() function of PHP?

[2022-05-02 08:32] muzzol commented on #460
I know this is a low priority issue, but here you can find a docker xe install for testing:
https://hub.docker.com/r/gvenzl/oracle-xe

[2022-05-02 09:08] mevdschee commented on #460
That is a great docker instance, used by jOOQ, which tells me a lot. I will have to adjust the test script to be able to use it, but that can be done.

[2022-05-02 10:36] mevdschee commented on #873
This is the htaccess you should use:

https://github.com/mevdschee/php-crud-api/blob/main/.htaccess

[2022-05-08 08:03] marionee commented on #850
The problem I suppose is inside applyEnvironmentVariables, the variable PHP_CRUD_API_MIDDLEWARES_API_KEY_AUTH is  renamed to PHP_CRUD_API_API_KEY_AUTH, but after that getenv does not work.

[2022-05-08 14:42] horaciod opened #879 "Add others init commands"
is there a chance to add more initcommands via config ?
I made this little hack
[code]
Is working very well for me but maybe it can be set with config

something like
[code]
I can provide a PR is you wanted.

[2022-05-09 07:51] mevdschee commented on #879
Hi Horacio, Thank you for creating this issue. Your request makes a lot of sense to me. I think it can be implemented quite easily. If you do a PR I'll review and merge it. Kind regards, Maurits

[2022-05-09 22:18] #879 closed

[2022-05-09 22:55] mevdschee commented on #879
Released in v2.14.3

[2022-05-10 18:36] nkappler opened #881 "Feature Request: Wildcard Search"
Hi there, I am working on the react-admin integration / dataprovider (https://github.com/mevdschee/ra-data-treeql) again, but this issue better fits here I think.

The situation:
When you use a [ReferenceInput](https://marmelab.com/react-admin/ReferenceInput.html) from react-admin (basically an autocomplete combobox which queries the database for valid inputs)
the input will fire a getList API cal

[2022-05-10 19:21] mevdschee commented on #881
Hi Nikolaj, I agree that a middleware could be used to implement the translation from `q=abc` to a matching complex filter expression (with all fields and 'or'). I'm looking forward to your "SearchMiddleware". I'm willing to include it if you send me a PR. Kind regards, Maurits

[2022-05-10 19:24] nkappler commented on #881
Hi Maurits, I am not an expert on php, are there any examples or resources I could use to get started?

[2022-05-10 23:22] mevdschee commented on #881
Released in v2.14.4

[2022-05-10 23:22] #881 closed

[2022-05-10 23:32] mevdschee commented on #881
docs: https://github.com/mevdschee/php-crud-api#search-all-text-fields

[2022-05-10 23:34] mevdschee commented on #881
test: https://github.com/mevdschee/php-crud-api/blob/main/tests/functional/001_records/094_search_posts.log

[2022-05-21 02:26] niyonx opened #882 "Tqdev\\PhpCrudApi\\Config not found"
Hi,

I got a very weird error, the API was working well for weeks, but then one time I see the API shows some kind of server error.

I checked the apache logs and find

[code]

It's very weird that the error throws on the new Config, would you know the cause of the issue? I just did an apache restart and it was fine then.

Thank you!

[2022-05-21 08:46] mevdschee commented on #882
I have no clue, but my guess would be that somehow your opcache got corrupted. I'm glad you fixed it.

[2022-05-21 08:46] #882 closed

[2022-05-22 16:30] nkappler commented on #881
Thanks a lot 🥳
Going to try this out right away...

[2022-05-25 21:37] mevdschee commented on #850
Hi, I can't reproduce this issue. When I try on the command line, I do:

    PHP_CRUD_API_API_KEY_AUTH_KEYS=123 php test.php mysql 002 004

And the test fails (as it should).

[2022-05-26 07:40] marionee commented on #850
Hi @mevdschee, i have tried a lot of combinations without luck, also using PHP_CRUD_API_API_KEY_AUTH_KEYS doesn't work.
Have you tried it on Docker? Have you got a working yml configuration?
Thank you.

[2022-05-26 16:27] mevdschee commented on #850
Hi @marionee,

Such as? Please help me reproduce the issue you encounter step-by-step with some details about your environment.

Yes, I have verified this in the test setup, did you? It is easy enough to run the command:

    PHP_CRUD_API_API_KEY_AUTH_KEYS=123 php test.php mysql 002 004

expected output is:

    =====[/002 Auth/004 Api Key Auth]=====
    200
    Content-Type: application/json; cha

[2022-05-27 14:19] marionee commented on #850
I tried your test and the output is the same.
When I run the same test using the correct password the output is: "mysql: 1 tests ran in 174 ms, 0 skipped, 0 failed"

If I try this container I doesn't work and the api says to me "Authentication failed for '123456789abc'".

`docker run --rm --name phpcrudapi-temp \
--env PHP_CRUD_API_ADDRESS=myhostname \
--env PHP_CRUD_API_DATABASE=mydb \
--env PHP_

[2022-05-27 15:14] mevdschee commented on #850
The release on Dockerhub was one month old, I've just updated it to v2.14.4. Does that make a difference?

[2022-05-27 15:32] marionee commented on #850
I pulled down the new image and tested again, but the behavior is the same.

[2022-05-28 06:36] mevdschee commented on #850
That is good.

As expected.

I have found the bug in the software: the middleware values have no default values, requiring you to specify them before you can override them with an environment variable. I will adjust the code to make your scenario work.

[2022-05-28 22:08] mevdschee commented on #850
This has been released in v2.14.5

[2022-05-28 22:08] #850 closed

[2022-05-28 22:09] mevdschee commented on #850
DockerHub has been updated with this release

[2022-05-28 22:44] mevdschee commented on #806
Released in v2.14.6

[2022-05-28 22:45] #806 closed

[2022-05-29 06:56] marionee commented on #850
Thank you @mevdschee, now it works!

[2022-05-29 07:51] mevdschee commented on #850
Thank you @marionee for your help reproducing the issue. Enjoy the software!

[2022-05-30 09:39] heliang219 opened #883 "Help with config error"
<img width="523" alt="截屏2022-05-30 17 49 51" src="https://user-images.githubusercontent.com/795426/170967121-512f5ae6-1f6d-4893-8591-85d154f37676.png">
<img width="979" alt="截屏2022-05-30 17 50 34" src="https://user-images.githubusercontent.com/795426/170967181-840d2e6e-3ce9-44e9-8dd8-09c7c633c4c5.png">
<img width="677" alt="截屏2022-05-30 17 50 51" src="https://user-images.githubusercontent.com/7954

[2022-05-30 11:06] mevdschee commented on #883
It can't connect. Check the http response headers in the network tab of the web developer tools of your browser for more info.

[2022-05-30 13:10] heliang219 commented on #883
Thanks,I wil check.
Bye the way, the config I wrote in these files are correct?

[2022-05-30 13:18] mevdschee commented on #883
I think not. I think you need to redirect one machine to the other in PHP_CRUD_API_ADDRESS env parameter, see:

https://github.com/mevdschee/php-crud-api/blob/main/docker-compose.yml

[2022-05-30 15:38] heliang219 commented on #883
![截屏2022-05-30 23 34 43](https://user-images.githubusercontent.com/795426/171024631-8db432de-69bb-4d4d-9dcd-b3cab3e47218.png)
![截屏2022-05-30 23 34 57](https://user-images.githubusercontent.com/795426/171024643-c6c821b8-5669-43ef-b3d9-15d235743a54.png)
![截屏2022-05-30 23 34 25](https://user-images.githubusercontent.com/795426/171024654-12d338aa-7997-460e-812a-fb704a9a6d5d.png)

still wrong!
which st

[2022-05-30 17:03] mevdschee commented on #883
Is the instance navicat connects to the same as the database container in the docker compose? I'm guessing it is not.

[2022-05-31 04:41] heliang219 commented on #883
<img width="734" alt="截屏2022-05-31 12 27 07" src="https://user-images.githubusercontent.com/795426/171093154-d66d906b-07d6-48ed-a34d-e277213da3f7.png">
<img width="573" alt="截屏2022-05-31 12 27 23" src="https://user-images.githubusercontent.com/795426/171093180-54fce842-d43e-4334-b71b-a548e24027d0.png">
<img width="556" alt="截屏2022-05-31 12 28 50" src="https://user-images.githubusercontent.com/7954

[2022-05-31 06:38] mevdschee commented on #883
Thank you for sharing your success, this may indeed help others. Enjoy the software!

[2022-05-31 06:38] #883 closed

[2022-06-18 12:19] sk679558 commented on #852
it is working smoothly. could you also create another custom controller to download files like png.

[2022-06-24 16:31] uruk-hai-21 opened #884 "How to add multiple response header (Customization handlers)"
Dear,
how can I add more Customization handlers?
I need to add multiple response header.

[2022-06-27 03:33] emrahamet opened #885 "DbAuthMiddleware not working"
my users table name: users

config: tables' => 'product,manufacturer,category',

blocking acces
    // Authorization
    'authorization.tableHandler' => function ($operation, $tableName) {
        return $tableName != 'users';
    },

and response

{"code":9999,"message":"SQLSTATE[42000]: Syntax error or access violation: 1103 Incorrect table name ''"}

i think it gives this error because realName

[2022-07-01 20:48] emrahamet commented on #885
no it doesn't work again
if i remove "authorization.tableHandler" function  it works

[2022-07-07 04:54] hopeter1018 opened #886 "Could you please add more services to custom middleware?"
Thanks for the great project!

First of all, Sorry for my English.

I heavily use the CustomizationMiddleware and I would like to do some many things in the my middleware, including DB crud and instant response. I suggest to pass following services to beforeHandler and afterHandler:
- reflectionService
- recordService
- GenericDB
- responder

For the DB actions, I used to re-construct another Refl

[2022-07-07 05:26] mevdschee commented on #886
That could very well be. Can you share the code to re-construct the ReflectionService and RecordService? And ideally the line that gives the error including the exact error?

Kind regards,

Maurits

[2022-07-07 05:39] hopeter1018 commented on #886
Thanks for the Quick Response.

It always return false when I called the recordService with

`ApiEx::reflection()->hasTable('just_a_table_name');`

`class ApiEx
{
    protected static $db = null;
    protected static $reflection = null;
    protected static $recordService = null;

    public static function instance()
    {
        if (null === static::$db) {
            static::$db = new GenericD

[2022-07-07 06:47] mevdschee commented on #886
static::$db = new GenericDB(
                getenv('MYSQL_DRIVER'),
                getenv('MYSQL_ADDRESS'),
                getenv('MYSQL_PORT'),
                getenv('MYSQL_DATABASE'),
                "all", // <= difference
                [],
                [],
                getenv('MYSQL_USERNAME'),
                getenv('MYSQL_PASSWORD')
            );

[2022-07-07 08:47] hopeter1018 commented on #886
Many thanks! Let me test the modification!

[2022-07-08 02:06] hopeter1018 commented on #886
It's working! Thanks for the prompt reply!

[2022-07-08 02:06] #886 closed

[2022-07-09 07:25] mevdschee opened #887 "Using "authorization.tableHandler" gives 500 internal server error"
same here, using "authorization.tableHandler" gives 500 internal server error
<img width="849" alt="Screenshot 2022-07-08 230147" src="https://user-images.githubusercontent.com/23131234/178041948-cece07de-7e9e-4bd4-bcbe-27721af91a37.png">

_Originally posted by @sk679558 in https://github.com/mevdschee/php-crud-api/issues/885#issuecomment-1178955348_

[2022-07-09 07:26] mevdschee commented on #887
@sk679558 Can you post that line (11565)?

[2022-07-09 08:02] sk679558 commented on #887
<img width="938" alt="Screenshot 2022-07-09 133018" src="https://user-images.githubusercontent.com/23131234/178097281-8ced903b-2efc-4c4d-be32-2dd36dcb0cbe.png">
removing 'authorization.tablehandler' line does not throw any error

[2022-07-09 12:10] mevdschee commented on #887
You can't make those a private field `$values` and assign default values. Assign values in another statement.

    private $values;

    public function __construct() {
        $this->values = [...]; // <= your code here
    }

This has nothing to do with this project AFAIK.

[2022-07-11 22:24] nik2208 opened #888 "remove api.php from address bar"
is there a way to remove 'api.php' (setting it as file in apache's config file)?
at the moment the base root (api.example.com/, given the fact that the configured index file is actually api.php) returns correctly error code 1000 (route not found) while any attempt like api.example.com/records/items results (correctly, again) in a 404 error.
would a rewrite or any other configuration do the trick?

[2022-07-11 22:39] nik2208 commented on #888
this entries actially does the trick:
[code]
should be inserted in the host/virtualHost config file or in .htaccess file.
If you don't have possibility to modify the webserver's index file list, rename api.php to index.php and replace api/api.php in the code example into index/index.php.

[2022-07-11 22:39] #888 closed

[2022-07-12 22:31] mevdschee commented on #887
I guess that solves this issue. Feel free to open another issue if you have any further questions.

[2022-07-12 22:31] #887 closed

[2022-07-20 08:33] anoteng opened #889 "Cors middleware not working for cross site requests"
Hi, thank you for an awesome piece of software!
I'm having problems getting the cors middleware to work. According to documentation leaving it with default settings should work just fine, but I'm nevertheless having issues.
Adding domains to configuration key cors.allowedOrigins seems to have no effect, however I'm unsure about the syntax with multiple domains, i tried with comma separated. Access

[2022-07-21 05:03] mevdschee commented on #889
Thank you for your kind words, I appreciate that.

The preflight request may be an "options" request that never reaches PHP.

Can you post a minimal example that doesn't work, so that I can try to reproduce? Please add the SQL create statement and the JS/CSS and HTML and an explanation of how to install/run the code. Kind regards, Maurits

[2022-07-21 06:31] anoteng commented on #889
Hi, i only use the single file, but I added the var_dump to the corresponding line, and indeed it looks like origin is empty.

Running the request from the web server, response headers:

    HTTP/1.1 200 OK
    Date: Thu, 21 Jul 2022 06:10:38 GMT
    Server: Apache/2.4.52 (Ubuntu)
    Strict-Transport-Security: max-age=63072000
    Content-Length: 102
    Keep-Alive: timeout=5, max=99
    Connecti

[2022-07-21 07:01] anoteng commented on #889
Minimal working example atttached. Base URL must be filled in. I could send you the URL by email if you'd like to test against my API, but I'd rather not post it publicly.
github won't let me attach HTML, so here's a paste. Copy and save as .html
https://pastebin.com/bgRFE8sY

[2022-07-21 09:57] anoteng commented on #889
Switching from Chrome to Firefox i see that is possible to re-send a request and ignore cors errors, doing so I get this response:

    array(2) {
      [0]=>
      string(21) "http://localhost:8080"
      [1]=>
      string(21) "http://localhost:8080"
    }
    {"db":241,"cache":10}

Headers also look good:

    HTTP/1.1 200 OK
    Date: Thu, 21 Jul 2022 09:44:59 GMT
    Server: Apache/2.4.52 (Ub

[2022-07-21 17:41] anoteng commented on #889
There's probably better ways to solve it, but for now the patch is a working workaround for me. I think the cors middleware is handeling the request correctly as it is, but the auth middleware is rejecting the request after cors is done, due to the missing auth header in the preflight request.

[2022-07-21 18:02] mevdschee commented on #889
Yes, the `X-API-Key` header is not allowed by the CorsMiddleware class as that header is not default included in the `Access-Control-Allow-Headers` response header. You can configure the CorsMiddleware class by specifying this in the config:

    'cors.allowHeaders' => 'Content-Type,X-XSRF-TOKEN,X-Authorization,X-API-Key',

I've just tested this and it solves your problem. I hope you understand wh

[2022-07-21 18:06] anoteng commented on #889
I'll test it tomorrow. Should be added to the docs of the auth middleware though.

[2022-07-21 18:13] anoteng commented on #889
I'm unable to test tonight, but i don't understand how that would work. The preflight doesn't contain that header, and the preflight is failing with 401 unauthorized. But, I'll give it a shot tomorrow.

[2022-07-21 18:18] mevdschee commented on #889
I feel your pain. CORS headers are a difficult concept to understand and can be frustrating to deal with.

I've tested this on Firefox with my localhost and my internet connected Apache server, reproducing your exact setup. The options request is not failing with a 401 unauthorized in my browser. Please test my solution.

I added the API key header to the defaults, so you helped to make the defaul

[2022-07-21 18:25] mevdschee commented on #889
You may want to test whether or If your server does not answer OPTIONS requests, please do so by making a PHP file `options.php` containing

    <?php
    header('X-Debug-Options: test');

and request that PHP file by doing a CURL request from the command line:

    curl -i -X OPTIONS https://webserver/options.php

And see whether or not you get a result containing the header. My output:

    maur

[2022-07-22 11:21] anoteng commented on #889
Your much better fix worked just fine!

[2022-07-22 11:21] #889 closed

[2022-07-23 08:29] mevdschee commented on #884
Hi @uruk-hai-21, What did you try and what didn't work for you?

[2022-07-24 16:51] nik2208 opened #891 "beforeHandler and POINT type"
trying to figure out how to post/update lat/lon values.

It seems I need  mysql `GeomFromText` function to set properly the field, to be inserted into the table.

May I achieve the desired result though the `beforeHandler`?

[2022-07-25 15:23] chattago2002 opened #892 "dbAuth authentication for active users"
Hello.
I'm working with this repository and I'm proud to use it, it saves me a lot of time.

I need to understand if it's possible to do the following.
I use "dbAuth" in "middlewares" and authentication is working fine, reading username from "email" column and "password" from "hashed_pwd" column of "users" table.
However in this table I have an additional column with the "state" of the user (activ

[2022-07-25 15:56] mevdschee commented on #891
I think you should be able to post the content as a WKT string to be inserted or updated in the table. Let me know whether or not that works. Kind regards, Maurits

[2022-07-25 15:58] mevdschee commented on #891
For an example see:

https://github.com/mevdschee/php-crud-api/blob/main/tests/functional/001_records/052_edit_user_location.log

[2022-07-25 17:31] chattago2002 commented on #892
Thanks you very much. I'm deeply absorbed in the project. A simple solution was in front of me but no able to see it. Thanks again

[2022-07-25 17:31] #892 closed

[2022-07-25 19:24] mevdschee commented on #892
Let me know whether or not this works for you. Kind regards, Maurits

[2022-07-26 07:30] chattago2002 commented on #892
Yes, it's working fine. Thank you so much

[2022-08-05 10:11] nkappler opened #893 "Suggestion: Make (middleware) config case agnostic"
There's probably no particular reason that middleware and other config options are case-sensitive.

I think it would be easier for inexperienced users, if this was made case-insensitive, as it otherwise might fail silently.
The API will still work but the otherwise correctly spelled configuration might have no effect.

[2022-08-05 18:01] mevdschee commented on #893
Good issue. Might be better indeed, since environment parameters are not case sensitive either.

[2022-08-06 13:13] pottertech commented on #97
Congratulations on the new and improved version!  I think you can close this thread as you have done a fine job adding support for spatial data.

[2022-08-06 13:24] pottertech commented on #837
If you are only supporting WKT (Well Known Text) format for spatial data, the SRID should be 4326 (WGS 84 or World Geodetic System 1984) geodetic datum. This is defined as part of the standards for WKT by OGC in this documentation https://en.wikipedia.org/wiki/Well-known_text_representation_of_coordinate_reference_systems.

[2022-08-06 21:49] awinante commented on #866
What if you are using the api.include.php instead? There is no config at the bottom of the file? Is there an example of how to setup api.include.php?

[2022-08-07 06:25] mevdschee opened #895 "Is there an example of how to setup api.include.php?"
What if you are using the api.include.php instead? There is no config at the bottom of the file? Is there an example of how to setup api.include.php?

_Originally posted by @awinante in https://github.com/mevdschee/php-crud-api/issues/866#issuecomment-1207287721_

[2022-08-07 06:28] mevdschee commented on #895
@awinante You may use index.php and replace `../vendor/autoload.php` with `api.include.php`. I hope that helps.

see: https://github.com/mevdschee/php-crud-api/blob/main/src/index.php

[2022-08-07 06:32] mevdschee commented on #837
@pottertech good point. PostGIS supports `SRID=4326;POINT(-44.3 60.1)` as (E)WKT value. Maybe we should support that too?

see: https://en.wikipedia.org/wiki/Well-known_text_representation_of_geometry

[2022-08-07 07:59] awinante commented on #895
Ok great. I will give it a try. And to confirm, would this function with these 2 files only? index.php and api.include.php? Or are there dependencies?

[2022-08-07 09:24] awinante commented on #895
Based on your recommendation, I notice there is still dependencies for the file. I think I might be understanding the notion of a single file script here. Can the api.include.php be used as a standalone script?

[2022-08-07 12:40] pottertech commented on #837
@mevdschee If you have a good idea on how to support SRID in PostGIS and any other of the databases such as MySQL then I think we should.

[2022-08-08 06:39] mevdschee commented on #895
No dependencies that I'm aware of.

[2022-08-08 06:49] #891 closed

[2022-08-08 06:49] mevdschee commented on #891
If you have any further questions, feel free to open another issue.

[2022-08-08 06:50] mevdschee commented on #884
Closing due to inactivity

[2022-08-08 06:50] #884 closed

[2022-08-08 10:48] awinante commented on #895
Thanks @mevdschee . I am able to use the api.php file on its own. However, I am not able to get a basic custom controller working. I have tried a few of the examples and I only see Route not found. I am not sure what I am missing.

[2022-08-08 10:51] mevdschee commented on #895
Please be more specific about the files you have, their contents and the exact URLs you request and the error messages you get.

I'm happy to reproduce any error you get, but you need to help me to get there.

Kind regards, Maurits

[2022-08-08 12:22] awinante commented on #895
Ok sure! Appreciate it.

----

Ok so I was busy putting together a long detailed description of my issue, which led me to getting it to work. Your thoughtful message helped me solve it myself, so thank you.

[2022-08-08 12:30] mevdschee commented on #895
Glad you got it working. Feel free to open another issue if you run into new problems.

[2022-08-08 12:30] #895 closed

[2022-08-08 13:23] mevdschee commented on #837
@pottertech Thank you for your great response. It seems support for SRID in the WKT definition is not yet there in MySQL and SQL Server. I'll change the default from 0 to 4326 as per the specification you referenced and make that value configurable.

[2022-08-08 13:48] mevdschee commented on #837
Released in v2.14.7

[2022-08-08 13:48] #837 closed

[2022-08-08 13:51] mevdschee commented on #97
@pottertech Thank you for your kind words.

[2022-08-08 21:12] mevdschee commented on #893
I was thinking that maybe we should convert all config from 'camelCase' to 'snake_case', before making them case-insensitive. Maybe we can detect mixed case and convert (for legacy naming).

[2022-08-08 21:17] mevdschee commented on #893
Thinking in a different direction: we could give appropriate error messages before executing the script for wrong case properties, so that they wont fail silently.

[2022-08-09 08:32] nkappler commented on #893
I don't really have an opinion on which option I prefer, but everything is better than failing silently 😅
However, while error messages can point the user in the right direction, the user then still needs to update the configuration and reupload the api to the server.
If this is only caused by a case-inconsistency, it can be quite annoying, but could be easily avoided.

I think adding the error me

[2022-08-09 13:54] NorthFred opened #896 "Filtering data in back-end based on authenticated user's role set in MySQL DB"
My latest project uses Firebase authentication for token issuing. The token doesn't contain any information regarding e.g. user's role or permissions. The MySQL database however contains a table 'Users' which stores the user's role.

I am looking for a way to filter the returned data from certain tables and columns based on the user's role which is set in the 'Users' table. I tried looking for an

[2022-08-09 15:03] t-schroeder opened #897 "OpenAPI definition missing path portion of server URL"
If this API lies in a subfolder of my webserver root, the OpenAPI definition created through the `/openapi` endpoint doesn't contain the subfolder necessary to call the API.

Lets say my API lies in `https://my.server/some-api/`. I'm using swagger-ui to display an interactive documentation of my API. Any requests sent from swagger-ui go to `https://my.server/status/ping` instead of `https://my.ser

[2022-08-09 15:17] t-schroeder commented on #897
I've linked a simple workaround.

[2022-08-09 16:44] mevdschee commented on #896
Yes sure, the user is loaded in the $_SESSION variable and the authorization handlers can read that and apply some custom logic.

[2022-08-09 23:05] mevdschee commented on #897
@t-schroeder can you confirm that this fix works?

[2022-08-10 07:24] t-schroeder commented on #897
@mevdschee I've tested your fix and it works. 👍 Closing this issue.

[2022-08-10 07:24] #897 closed

[2022-08-10 21:47] mevdschee commented on #897
Released v2.14.8 with this fix

[2022-08-11 15:07] NorthFred commented on #896
I'm afraid I am stuck with this, I could really use an example on how the filtering could be done for given example in the authorization handlers. I'm looking for the logic to determine what role a user has in a specific table (based on the userId from `$_SESSION['claims']['user_id']` and then allow the API to return that data based on the set role...  I couldn't figure it out with the examples in

[2022-08-14 18:53] e4rthdog opened #899 "Multiple Insert / Updates / Deletes on one call"
Is there any possibility to Insert / Update / Delete on one step?

Thanks.

[2022-08-19 00:28] mevdschee commented on #899
@e4rthdog No, not in a single request.

[2022-08-19 07:47] e4rthdog commented on #899
Thank you!

[2022-08-19 07:47] #899 closed

[2022-08-19 11:40] fallenruby opened #902 "Can't access MyController"
Hi, I have installed `php-crud-api` on a webserver with Apache 2.4 and PHP 7.4.3 (Virtualmin).
I'm using api.php with a custom controller called MyController (MyController.php).

[code]
I tried with the default .htaccess, but I get **No input file specified.** at every request. So I've changed the .htaccess in:
[code]
note the question mark after api.php:  RewriteRule ^(.*)$ api.php?/$1 [QSA,L]

W

[2022-08-21 11:36] NorthFred commented on #896
I tried fixing up the layout of the example in the OP. Hopefully someone can guide me in the right direction on how to use the authorization handlers to avoid access to some (complete) table, based on the user's role in another table.

[2022-09-03 03:12] coolalexhuang opened #903 "Got "Packets out of order" warning"
I have a cron job to call read API every morning, but it throws "**PHP Warning:  Packets out of order. Expected 1 received 0. Packet size=145 in /Users/shopee-sec/php-crud-api/api.php on line 6652**" error for the 1st call of every day, however the 2nd and on going calls work well, cloud you help take a look why this happen and how to fix it?

[2022-09-04 12:30] mevdschee commented on #903
Seems to be a PHP issue, see: https://bugs.php.net/bug.php?id=81335

What versions and os do you run on?

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: coolalexhuang ***@***.***>
Sent: Saturday, September 3, 2022 5:12:17 AM
To: mevdschee/php-crud-api ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [mevdschee/php-crud-api] Got "Packets out of order

[2022-09-05 07:36] pat123456 opened #904 "openapi tags sqlite fist table missing"
Hello,

With an sqlite db, in the /openapi "tags" entry, the first table (in alphabetical order) is missing.

May I miss something, or this is a bug ?

Thanks !

[2022-09-05 11:34] mevdschee commented on #904
I've tested with the test database and there are 13 tables, just as there should be, no matter the driver.

[2022-09-05 12:06] pat123456 commented on #904
thank for your answer

here the steps :
1/ copy api.php in an empty folder
2/ change the config to :
$config = new Config([
    'driver' => 'sqlite',
    'address' => 'db.db',
]);
3/ create a new db in DB Browser for SQLite (on Linux)
4/ add table "table1" (schéma = CREATE TABLE "table1" ("id" INTEGER, "content" TEXT, PRIMARY KEY("id" AUTOINCREMENT)) )
5/ go to localhost/folder/api.php/openapi
tag

[2022-09-05 13:36] mevdschee commented on #904
Yeah.. I can reproduce the problem, thank you. I will update this ticket when a fix is available.

[2022-09-05 15:29] pat123456 commented on #904
here the "openapi/tags" of my previous test, where sqlite_sequence is showed :

"tags":[{"name":"status","description":"status operations"},{"name":"actualite","description":"actualite operations"},{"name":"images","description":"images operations"},{"name":"sqlite_sequence","description":"sqlite_sequence operations"},{"name":"test","description":"test operations"},{"name":"users","description":"u

[2022-09-05 16:37] mevdschee commented on #904
Yes, I understand. Showing internal structures was not the intention and I removed it for consistency. If you want to make the ignored table list a configurable option, then that would be a separate feature request.

[2022-09-05 17:49] mevdschee commented on #904
Fixed in v2.14.9

[2022-09-05 17:49] #904 closed

[2022-09-05 20:52] pat123456 commented on #904
Thank a lot ! It work find now, all tables are shown and sqlite_sequence disappear in my fist test. Have actuality no need of an ignored table list option.

[2022-09-07 10:35] nik2208 opened #905 "join returns a subobject array even if it has a 1 to 1 relationship"
not really a problem.. just not to access the object using its index [0]

[2022-09-08 02:28] coolalexhuang commented on #903
Mac OS 11.6.8

[2022-09-08 03:48] dswdcares commented on #892
Is it possible to use views for login and also enable register end-point? I've successfully used views to login active users but the register endpoint is now throwing error.

`<b>Fatal error</b>: Uncaught PDOException: SQLSTATE[HY000]: General error: 1471 The target table active_users of the
INSERT is not insertable-into in ...`

[2022-09-08 05:41] mevdschee commented on #903
What MySQL version?

[2022-09-08 07:18] mevdschee commented on #905
How would one differentiate a 1 to 1 relationship from a 1 to many relationship in SQL? Can you share your table create script for two tables with a 1 to 1 relationship?

[2022-09-08 07:19] mevdschee opened #907 "use views for login and enable register end-point"
Is it possible to use views for login and also enable register end-point? I've successfully used views to login active users but the register endpoint is now throwing error.

`<b>Fatal error</b>: Uncaught PDOException: SQLSTATE[HY000]: General error: 1471 The target table active_users of the
INSERT is not insertable-into in ...`

My view contains a join between the users table and roles table

[co

[2022-09-08 07:20] mevdschee commented on #907
If your view is insertable-into you can. If not, then you can't.

[2022-09-08 07:56] nik2208 commented on #905
well.. most of the times I try to find myself around..maybe I'm missing something.. but if u set the foreign key as unique key you get a 1 to 1 relationship.. am I wrong?

[2022-09-08 09:24] mevdschee commented on #905
There may be a problem of a table having two 1-on-1 relationships with another table, but that is an edge case and may be solved with some form of aliasing.

[2022-09-08 09:34] coolalexhuang commented on #903
<img width="608" alt="image" src="https://user-images.githubusercontent.com/2528449/189088523-a6a45692-947c-436a-b2f2-74f179263b29.png">

[2022-09-08 10:43] mevdschee commented on #903
I think it has to do with the persistent connections in the pool and your timeouts for those. Suggested fix:

See: https://stackoverflow.com/questions/62282427/after-connecting-to-mysql-database-im-getting-error-got-packets-out-of-order

[2022-09-09 02:21] nik2208 commented on #870
I've quite struggled with php mail function, ended up using phpmailer instead

[2022-09-09 04:18] apps-caraga commented on #896
To get only the records owned by a user, the relevant table e.g. "Articles" should have a foreign key column containing the user id.

**Sample schema**

1. Articles table (Sample table with users per row)

| id | subject        | content                                                       | date\_created | fk\_owner\_id |
| -- | -------------- | --------------------------------------------------

[2022-09-09 05:48] mevdschee commented on #896
Thank you @apps-caraga for helping @NorthFred. Great example.

[2022-09-09 16:50] sbc-mining opened #908 "cors settings do not take over values"
Hello, everyone,

I would like to provide my API with an AuthToken. This also worked by adding it to the settings.
Unfortunately, the whole thing doesn't work with Cors. Because here I would have to enter the following in the settings:

`cors.allowHeaders' => 'Content-Type,X-XSRF-TOKEN,X-Authorization,X-API-Key'` <-- Found that here on github.

However, the connection fails. Now when I look at the

[2022-09-09 17:29] NorthFred commented on #896
@apps-caraga Thank you for the elaborate example! It gives a good idea on how it can be handled. I should have probably mentioned that my solution is using Firebase login to provide jwt auth tokens. So I don't have a 'login' table with username and password as such.

The users table only stores the user's `userId` and `role` (and some other information - but it is irrelevant for the solution I see

[2022-09-11 13:56] NorthFred commented on #896
@mevdschee @apps-caraga I am currently looking into getting rid of authentication via Firebase auth tokens and use the `dbAuth` middleware instead. That seems to support my needs better.  I am running into a bunch of issues with `dbAuth`, but will create a new issue for that.

[2022-09-11 14:19] NorthFred opened #909 "dbAuth gives 401 error after logging in and making subsequent API requests"
I am trying to implement `dbAuth` in my current project by removing the current Firebase authentication implementation, because this solution may support my role-based multi-tenant solution better. (see old [issue 896](https://github.com/mevdschee/php-crud-api/issues/896)).

Following the instructions in the readme and going through answers in the issues in this repository, I managed to successful

[2022-09-12 02:23] apps-caraga commented on #739
It is possible that during registration, a user is required to enter other info such as email address, first and lastname etc., but this is dropped since the current code processes only the username and password.

[2022-09-12 20:05] mevdschee commented on #739
@apps-caraga Are you wiling to do a PR that provides this functionality and mitigates the SQL injection risk?

[2022-09-13 03:47] apps-caraga commented on #739
@mevdschee
Still trying to make the code work to my requirements, 😀 but still stuck on how to best sanitize the inputs. Maybe I'll just accept the alphanumeric characters and drop any input that doesn't meet that?

[2022-09-13 06:50] mevdschee commented on #739
A regex that filters non-alpha is:

    $clean = preg_replace('/[^a-z0-9]/','',$dirty);

NB: I think sanitizing is not the way to prevent injection. Proper escaping will prevent injection.

[2022-09-13 08:21] apps-caraga commented on #739
Thanks for this @mevdschee  . I'm considering regex because as of now, users can register names like` <h1>user001</h1>` and output looks funny on the users page. So I'm hoping to restrict the usernames to alphanumeric and some other chars like dots or underscores.

As for prevention of sql injection, I'm still tracing the users registration process. For now,  I can see it starting from the registe

[2022-09-13 08:32] coolalexhuang commented on #903
After change to this "\PDO::ATTR_PERSISTENT => false," and restart the service, it works as expected, thanks a lot.

[2022-09-13 12:43] #903 closed

[2022-09-14 05:44] apps-caraga commented on #739
So I got this code working, but I have some issues. I got the following error when I insert a new user with existing email address.
`Fatal error: Uncaught PDOException: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry `

Based on my needs, the account registration procedure will ask for a unique email address so we need to check if a certain data,e.g. email address or other un

[2022-09-14 14:25] nik2208 opened #910 "help wanted: is it possible and it makes any sense to mix dbauth and jwt auth?"
actually the subject is already the matter..

In particular: I would like to use both social login (like google or facebook or whatever) with my own jwt auth mode.
I would/should such a mechanism be structured?

[2022-09-14 14:50] NorthFred commented on #910
@nik2208 I would be happy to know about this too. This [issue here](https://github.com/mevdschee/php-crud-api/issues/896) closely relates to your question.

[2022-09-14 14:53] NorthFred commented on #909
This took me longer than expected to figure out, but few things went wrong here:

1) Correct order of the 'middlewares' is FIRST 'cors' and then 'dbAuth'
2) `'cors.allowCredentials' => true,` should have a string value: `'cors.allowCredentials' => 'true',`

Issue can be closed.

[2022-09-14 14:53] #909 closed

[2022-09-15 05:56] mevdschee commented on #910
I would/should such a mechanism be structured?

I think auth0 fits your needs.

[2022-09-15 07:54] nik2208 commented on #910
I would use php-crud-auth instead of auth0 (they should actually do the same job, right?), but I actually don't really figure out how to mix (e.g) users coming from google login and others coming from php-crud-auth login to converge to the same php-crud-api session.
Could I explain what I mean?

[2022-09-15 08:05] mevdschee commented on #910
No, auth0 has the social logins implemented and with php-crud-auth you will have to build those social login integrations for yourself.

[2022-09-15 13:26] apps-caraga commented on #896
So I just got a firebase auth working and yup, the $_SESSION['claims'] variable contains several pieces of user data. For our purpose, the user_id , and the email seems to be the most useful. In this case, it may be possible to adapt the sample Articles table so that the **fk_owner_id** is equal to the **user_id** or the **email** retrieved from the firebase access token.

[code]

[2022-09-17 09:49] nik2208 commented on #910
`you will have to build those social login integrations for yourself`

that is already done: I can successfully login with google and get the user's email back (and the token, actually).
but now I find myself in this situation: I have users registered thru php-crud-api dbAuth, and users coming from google which are not (yes) in the users table.
Should I enable both dbAuth and JWT, or are them mutu

[2022-09-20 13:06] pottertech commented on #556
I would like to see an examples/dbAuth folder added that contains a working version for using dbAuth rather than have to dig around the issues comments to try to get a working version.  It should also contain a "crud_users.sql" file to help users with a working version of the database table.  A few examples to also show how it works for adding a users, deleting a user, updating the password as wel

[2022-09-20 13:08] pottertech opened #912 "Add mevdschee / php-crud-api / examples / dbAuth Example"
I would like to see an examples/dbAuth folder added that contains a working version for using dbAuth rather than have to dig around the issues comments to try to get a working version. It should also contain a "crud_users.sql" file to help users with a working version of the database table. A few examples to also show how it works for adding a users, deleting a user, updating the password as well

[2022-09-20 13:38] firextechnologies opened #913 "scandir(C:\Windows\Temp\phpcrudapi-01837a59-cache): Access is deni (code: 5)"
Hello,

how to resolve this issue?

scandir(C:\Windows\Temp\phpcrudapi-01837a59-cache): Access is deni (code: 5)

even though my setup all on D not in C

be noted i am using the API CRUD through Laravel

[2022-09-21 03:59] firextechnologies commented on #913
Thanks

be noted that I found the function was doing on TEMP as System variable, not the user variable, so after I change the settings for the folder of the TEMP variable for the system to another location it works fine, but thanks for the option you mentioned.
If its possible to choose the temp folder from the code will be an advance point if possible for the future.

[2022-09-21 04:00] #913 closed

[2022-09-21 05:37] mevdschee commented on #913
AFAIK the function calls 'sys_get_temp_dir' in PHP to store data in, which I believe is correct.

see: https://www.php.net/manual/en/function.sys-get-temp-dir.php

[2022-09-21 07:58] firextechnologies opened #914 "How to allow only read operation to certain table and only certain columns to be showing?"
How to allow only read operation to a certain table and only certain columns to be showing?

for example, I have table 'myorder' and I need to view only part of the columns. and can only read
and restrict the rest of the tables from being accessed.

I saw some of the examples about authorization.tableHandler but not sure if there a simple way to hide around 20 tables, and the table i want to acces

[2022-09-21 08:45] firextechnologies commented on #914
Ok so i approach to this now

`        'authorization.tableHandler' => function ($operation, $tableName) {
            if($operation == 'list' && $tableName == 'myorder') return $tableName;
            return !$tableName;
        },`

`'authorization.columnHandler' => function ($operation, $tableName, $columnName) {
            if($operation == 'list' && $tableName == 'myorder'){
                r

[2022-09-21 08:48] firextechnologies commented on #914
Ok i make something i thought it was some error from my end but if i hide the first column it give an error
so i make it in this way
return ($columnName == "Id1" OR $columnName == "Name")

and work fine for me

[2022-09-21 08:48] #914 closed

[2022-09-21 10:59] mevdschee commented on #914
Glad you got it working. Feel free to open new issues when you have further questions. Enjoy the software!

[2022-09-21 21:16] zemian opened #915 "Allow config parameter to load from external file/env"
Hi,

Sorry if I am repeating this request. (I tried searching and can't find it). The documented way to make configuration is to modify at the end of the single api.php file for any of config parameters (DB connection etc). It would be great if these can be loaded from external file or ENV variables without have to modify the original api.php at all. Anyone is interested in this feature?

[2022-09-21 21:21] zemian opened #916 "A flag to enable list of tables and fields?"
Hi,

Would it be useful to add a configurable flag that can expose list of tables and fields available (eg: like a /schema endpoint)? I understand this would be a security risk, but it would be very useful for internal project use where it's not a concern. Also have a flag default to off should be safe enough.

[2022-09-21 21:22] mevdschee commented on #915
Did you see #734?

[2022-09-21 21:25] mevdschee commented on #916
Try adding "columns" to the the "controllers" config parameter. It does what you want.

[2022-09-22 11:45] zemian commented on #915
Not exactly what I was looking, but I think using 'api.include.php' would work for me for now. :) Thanks @mevdschee !

[2022-09-22 11:49] zemian commented on #916
Ahh! Yes it does work for me! Thank you @mevdschee!

[2022-09-22 13:30] #916 closed

[2022-09-24 07:34] mevdschee commented on #908
Yes it is.

[2022-09-28 12:25] Kuhlig opened #917 "Multi database, where every tenant has it's own database (using the "reconnect" middleware)."
hello

I have a question to the above middlware .  I have 2 DB on the same server with same user and same passwd. Let's say

* SQMS_ORG1 (default)
* SQMS_ORG2

Can i send an API request to change the DB? from SQMS_ORG1 -> SQMS_ORG2
[code]

or do I have (can) send the DB Name (in the header) with every request?

sorry for the question but I don't understand how to Trigger the DB Change

thanks rob

[2022-09-28 18:00] mevdschee commented on #917
Hi Rob,

You need to ensure the database name is in the URL or in the header, so that you can set the correct value.

There is no such thing as a "change", it needs to be set on every request.

I hope this helps you. Kind regards, Maurits

[2022-09-28 23:32] pottertech commented on #917
A "change" is an "update" in database terms.

[2022-09-29 05:09] mevdschee commented on #917
I believe that @Kuhlig is talking about a "change" of database connection, not a "change" to a database record.

[2022-09-29 05:55] Kuhlig commented on #917
HI Maurits

" you need to have the database name in the URL"

like this?
[code]

Does not work in my case - ist still get results from SQMS_ORG1. Do I have to load the Reconnect Milldeware in the config?

PHP_CRUD_API_RECONNECT=1

I have it like this but does not work either ...

any Hints? thanks!

Rob

[2022-09-29 06:06] mevdschee commented on #917
Yes @Kuhlig, you're on the right path. Next you need to program a handler:

    'reconnect.databaseHandler' => function () {
        return $_GET['database'];
    },

and add that to the config.

[2022-09-29 06:32] Kuhlig commented on #917
I give it a try when i have time - in the meantime it is easier for me to start 2 Docker Container :-) with SWAG
SQMS_ORG1.domain.tld
SQMS_ORG2.domain.tld
Thanks for your help ROB

[2022-09-30 10:29] chattago2002 opened #918 "Make views updatable"
Hi.

I read that at the moment views aren't updatable (insert, update, delete) as also reported in the #823 question [here](https://github.com/mevdschee/php-crud-api/issues/823#issuecomment-968661002).
Obviously when I try to update a view the response is **1015 error** with message **Operation 'update' not supported**.

As reported in last comment of #823 views seems to be updated bypassing the c

[2022-10-01 10:13] mevdschee commented on #918
Yeah, the primary key reflection does not work, nor can all views be updated (only update-able views). To avoid support tickets I disabled the functionality. Although indeed we could allow it to be enabled with a configuration option, which is not a bad idea.

[2022-10-03 19:26] kkrell2016 opened #919 "Access to db in handler"
Hi, I'm not really a PHP guru.
I would like to check if a field called "oid" is currently null while updating. If the actual value in the DB is null, an update should be possible, otherwise no update should be made.

I think the validation handler would be the right place for this. My problem is how to access the database from the handler?
Can I reuse any function without opening a complete new co

[2022-10-04 06:01] mevdschee commented on #919
Hi, this seems like a duplicate of #751.

[2022-10-04 10:19] kkrell2016 commented on #919
Thank you for the hint, will have a look at the solution.
I think the idea from [pat123456](https://github.com/pat123456) is a good one, to define the handlers outside of the config section. But it may be a huge rewrite for you? Would just be a clean solution without the need to other modifications.
Yesterday I just made a quick&dirty workaround with a get_file_content to the same object I want to

[2022-10-04 10:23] mevdschee commented on #919
Yeah, that will be some work... and there is another solution with the VariableStore... did you try that?

[2022-10-04 23:11] kkrell2016 commented on #919
I tried it and it works great.
I tried it this way, do you think its okey or is there a better option?

[code]

[2022-10-07 15:27] gasalvati opened #920 "Decimal point is comma internationalization"
Hello
I'm using a MySql database and your Api as back-end, and an Appgyver app as front-end for a simple development (as a hobby).
In my place we use the comma "," as the decimal point "." for numbers.
As far as I understand Appgyver won´t let me change the decimal point (so it expects and treats numbers with comma as the decimal separator). On the other side up to now my DB use the dot as the dec

[2022-10-07 20:14] gasalvati commented on #920
OK,
I found out that MySql internationalization will only affect the way it looks for other aspecs and I will have to go on storing the data in the decimal point dot separator for numbers. So only option 2 is alive.

Will the api be able to translate external requests from decimal point is comma number to internal dot, and then the responses translated from dot numbers again to comma numbers?

Can

[2022-10-07 20:26] gasalvati commented on #920
Forgive me,
I will put this ON HOLD.

I also found out that even though in appgyver if I set the input keyboard to decimal-pad it will be with "," but the internal number do not accpet comma as the decimal separator.

I have to deal all the way with "." as the decimal separator, and now my problem is how to make appgyver let me use a decimal-pad input keyboard with "." (problem for another forum)

[2022-10-08 07:58] marionee opened #921 "Docker Hub pipeline"
Hi there

it could be useful to have a pipeline in order to automatically build/publish a docker image after every new git Tag.

At this moment the last image is from 4 months ago.

[2022-10-08 22:57] mevdschee commented on #920
@gasalvati No problem. Thank you for sharing your story. A lot of these tools (like AppGyver) use "en_US" locales internally (translating only on the front-end). On the other hand if you wanted the API to be internationalized it would be quite a job as you are right that there are many locale settings to consider: request, the PHP application, the underlying server, the database connection and the

[2022-10-08 22:57] #920 closed

[2022-10-09 09:34] nik2208 opened #922 "dbAuth tableLogin setting and $pkName"
at line 8088 `$pkName = $table->getPk()->getName();` gives (reasonably) `Call to a member function getName() on null` in case of `tableLogin` pointing to a view.

Is it a bug or am I doing something wrong?

reference to #896

[2022-10-09 10:17] mevdschee commented on #922
You should have a PK named 'id' in the table.

[2022-10-09 10:21] mevdschee commented on #921
There is a script called `publish-docker.sh` that does what you want. I should run it on every release, but sometimes I forget.

Thank you for the heads up.. I ran the script.

[2022-10-09 10:21] #921 closed

[2022-10-09 16:46] marionee commented on #921
Thank you.

[2022-10-10 07:21] nik2208 commented on #922
ooooh.. I see.. line 4039:
`
if ($type == 'view') {
                $columnName = 'id';
            }
`

we should specify it [here](https://github.com/mevdschee/php-crud-api#:~:text=Login%20using%20views%20with%20joined%20table)

[2022-10-10 09:04] mevdschee commented on #922
I updated the README as per your suggestion. Enjoy the software!

[2022-10-11 20:42] mevdschee commented on #864
Currently transactions are not supported. In your specific case you could work around that limitation by doing the following:

Insert the 'order' record first, then if that succeeds you could try to insert the 'order lines' (in batch) and if that fails, then delete the 'order' record. If that second insert also succeeds you are done. You can use try..catch statements to create a robust implementat

[2022-10-14 13:21] NorthFred commented on #896
@mevdschee I believe this issue can be closed. I moved the project away from Firebase auth and switched to dbAuth completely - and it seems to be working well so far. I'm only missing a password reset functionality, but that is a different story.

[2022-10-14 13:38] nik2208 commented on #870
@NorthFred what do u mean? there's already the password endpoint (different from register

[2022-10-14 13:48] NorthFred commented on #870
@nik2208 I was referring to the OP's topic of resetting the password in case the user doesn't remember it (e.g. password reset link...). Did you make this work with phpmailer?

[2022-10-14 14:38] nik2208 commented on #870
actually I meant, instead of mail() as suggested by Kolial I used phpmailer.
I didn use it to send password reset instructions, I just said I had troubles making mail() work.

there much out there explaining how to use phpmailer.
reguarding the implementation, I've created an endpoint which actually send the email and called it from the fronted when needed

[2022-10-14 14:45] NorthFred commented on #870
@nik2208 Right, thanks for clarifying. I misunderstood your reply. I'll do some more research on topic for password reset implementation.

[2022-10-14 15:48] NorthFred commented on #870
@nik2208 Well, I'm using the 'dbAuth' middleware of this awesome library for login, logout, registration (signup) and password change. What I am missing is a way to let the user reset their password if they don't remember their login details - i.e. they can no longer log in.  A typical approach to resolve this, is having the back-end send a "password reset" link, via which the user can access a fo

[2022-10-15 05:56] #896 closed

[2022-10-15 05:59] mevdschee commented on #896
@NorthFred Thank you for reporting your success and @apps-caraga thank you for your great example!

[2022-10-15 06:20] mevdschee commented on #902
How is MyController linked to the path `/products/1`? Can you show the snippet of code that does that?

[2022-10-15 06:22] mevdschee commented on #908
Did you succeed?

[2022-10-15 06:23] mevdschee commented on #910
Yes, that is what I would do.

[2022-10-15 10:18] nik2208 commented on #870
@NorthFred have a look [here](https://github.com/bartosz-io/budget-node/tree/94959117e718ab498e5e720769b2066d082e17c0). It's actually pretty advanced angular.
I've taken it as an example to implement my auth provider (using php-crud-api with dbAuth authentication) redirecting to my apps on successful login (using php-crud-api in jwt auth mode).

[2022-10-15 16:10] fallenruby commented on #902
Hi @mevdschee, thank you for your reply.
I forgot to include MyController.php in the api.php file.

[code]

[2022-10-15 16:10] #902 closed

[2022-10-16 05:34] mevdschee commented on #902
I'm happy to hear that you solved the issue. Enjoy the software!

[2022-10-16 11:56] nik2208 commented on #830
has this feature been merged?

[2022-10-16 17:11] mevdschee commented on #830
What is `$body->allowSameSite` do? Also, this syntax for `session_set_cookie_params` is not supported in PHP < 7.3.

Why do we need `SameSite` set to `None`, is `Lax` not good enough?

How about this code instead?

            if (!ini_get('session.cookie_samesite')) {
                ini_set('session.cookie_samesite', static::$sameSite);
            }
            if (!ini_get('session.cookie_http

[2022-10-16 17:19] mevdschee commented on #917
Did you give it a try? Did you succeed?

[2022-10-16 17:20] mevdschee commented on #907
closing due to inactivity

[2022-10-16 17:20] #907 closed

[2022-10-16 17:21] mevdschee commented on #885
What is the order of your middlewares? Maybe move 'authorization' after the 'dbAuth'? Could that be it?

[2022-10-16 17:35] nik2208 commented on #830
Well actually I don't remember and (considering my knowledge) I don't Kwon what I did think that code would have done.. Actually I only text you to understand if we had moved forward from that point.

Would u exclude to give tue possibility to disable the same site setting overriding the php.ini config?

[2022-10-16 17:51] mevdschee commented on #830
Well, we haven't, since it is not an easy issue. Note that I am not against assuming that people aren't able to configure their PHP correctly (through php.ini or php_flag in .htaccess), so I'm willing to make a change to the code.

I guess we should override the php.ini setting right? Or shouldn't we? It is not set by default.

Communication between subdomains (such as  api.yourdomain.com and app.

[2022-10-19 07:11] Kuhlig commented on #917
sorry no - i just used

- SQMS_ORG1.domain.tld
- SQMS_ORG2.domain.tld

since i really have no clue to do that . this workarround is fine for me  ...
thanks for your help

[2022-10-21 08:20] galletl opened #923 "Specify options for database connection in configuration"
Hello.

I want connect php-crud-api on MariaDB who accepts TLS connections only.
It's work if, in PHP code, I modify the function "getOptions" for adding those lines in mysql options block :
[code]
There is a way to specify options for database connection in configuration  ?

[2022-10-21 10:27] becangular opened #924 "Auth with cookie and curl"
Hello,
i'm trying to do a POST request from  external php file, but i always get an error 1011.

This is my code:

	if (file_exists($upload_path . $_FILES['file']['name'])) {
				$_FILES['file']['name'] = $_FILES['file']['name'] . uniqid(rand(10, 200)) . '-' . rand(1000, 1000000);
				move_uploaded_file($_FILES['file']['tmp_name'], $upload_path . str_replace('.', '', $_FILES['file']['name']) . '.'

[2022-10-21 13:28] gasalvati commented on #661
@billiemead / @mevdschee
hello, hope you have time to give me a hint. (Big one).
I'm posting this in this closed issue because is the same concept, but I can open a new one if is the right way.

I'm doing a very basic Appgyver app (mobile) for dealing with my data in a PHP/MySql backend.
I'm using apì.php from @mevdschee  and got it to work decently. (By the way excellent job and thanks to Maurits

[2022-10-21 16:28] mevdschee commented on #917
Practical solutions are often the best ones. Enjoy the software, kind regards, Maurits

[2022-10-21 16:28] #917 closed

[2022-10-21 16:34] mevdschee commented on #923
Currently the options aren't configurable, the commands are. I registered this as a feature request to make them configurable. In the meantime you can search for `PDO::MYSQL_ATTR_FOUND_ROWS` and add these options in the 'getOptions' method as a workaround. I'll keep this issue open as a feature request.

[2022-10-21 16:44] mevdschee commented on #924
Hi Joseph,

You are using 'dbAuth' requiring a valid session and I'm pretty sure these are not valid:

    CURLOPT_COOKIEJAR  => $_COOKIE['PHPSESSID'],
    CURLOPT_COOKIEFILE => $_COOKIE['PHPSESSID'],

If you are using a valid cookiejar and you have in fact logged in then you may not get this 'AUTHENTICATION_REQUIRED' error (1011). Look at the contents of your cookiejar file to debug this. The 'CU

[2022-10-21 16:53] mevdschee commented on #924
Closing this issue as it is about Curl automation in PHP and not about the API. Also because server to server authentication with dbAuth is not recommended (use apiKeyAuth instead).

[2022-10-21 16:53] #924 closed

[2022-10-22 08:04] mevdschee opened #926 "Need help with Appgyver app + jwtAuth + auth.php"
@billiemead / @mevdschee

hello, hope you have time to give me a hint. (Big one).
I'm posting this in this closed issue because is the same concept, but I can open a new one if it is the right way.

I'm doing a very basic Appgyver app (mobile) for dealing with my data in a PHP/MySql backend.
I'm using apì.php from @mevdschee  and got it to work decently. (By the way excellent job and thanks to Mau

[2022-10-22 08:08] mevdschee commented on #926
@billiemead Please don't hijack old posts for your own issues.

Yes you can, but why would you want to redo the authentication verification on every request? It is designed to be expensive.

No, only for the authentication you access auth.php and once you have retrieved the token you do the request to api.php with the token.

It is part of the spec of OAuth. Every client (implementation) has a cli

[2022-10-22 09:46] gasalvati commented on #926
Maurits

Thanks for your reply.

I won`t get back old issues (I was not sure about that)

I won´t involve other users (neither knew that)

It seems I have a lot to think about.

Kind regards

GS

De: Maurits van der Schee ***@***.***
Enviado el: sábado, 22 de octubre de 2022 5:09 a. m.
Para: mevdschee/php-crud-api
CC: gasalvati; Mention
Asunto: Re: [mevdschee/php-crud-api] Need help with Appgyver

[2022-10-22 09:49] gasalvati commented on #926
Maurits
Thanks for your reply.
I won`t get back old issues (I was not sure about that)
I won´t involve other users (neither knew that)

It seems I have a lot to think about.

Kind regards
GS

[2022-10-22 18:36] mevdschee commented on #926
You are welcome, I didn't mean to come across unwelcoming. Some advice: Share the code that you have. Make it easy for us to reproduce your setup and ask very specific questions about specific errors and/or breaking functionality. Most of the people here (including me) are very willing to help somebody that got stuck. You seem like a nice and grateful person and that sure makes a lot of difference

[2022-10-23 10:35] gasalvati commented on #926
Thanks

[2022-10-23 10:44] mevdschee commented on #910
I'm closing the issue for now. Feel free to follow-up if you have any further questions, either on this issue (I'll re-open) or on a new one.

[2022-10-23 10:44] #910 closed

[2022-10-23 10:45] mevdschee commented on #885
Do you have an update?

[2022-10-23 10:46] mevdschee commented on #908
Closing due to inactivity.

[2022-10-23 10:46] #908 closed

[2022-10-23 11:24] nik2208 commented on #910
I've implemented my own auth provider using multiple instances of api.php. I'll be sharing my general approach and the mods I've done to auth.php to achieve the goal.

[2022-10-23 21:42] Deltas92 opened #927 "DbAuth function not working?"
I have several questions about DBAuth. Does it already work? What table structure do you need for it?

And with what encryption do you have to enter the password into the database?

When I send the requests to /login and /records/records/, I get the following responses:

{"code":1012, "message": "Authentication failed for 'delta'"}
{"code":1011, "message": "Authentication required"}

Are there any

[2022-10-24 10:08] nik2208 commented on #926
referring to #910, I'll share my experience and my approach.
PHP-CRUD-API actually works as expected (once as @mevdschee says U understand the jwt auth flow).
Once U define the structure of your project there are four actors playing:

- auth validator: auth.php will grant users asking this actor;
- auth.php: he will play the role we expect to play;
- your project receiving the token a querying api

[2022-10-24 10:18] nik2208 commented on #927
in the readme the documentation appears to be extensive.
did u enable the debug? //not sure this can help you at this step but it will for sure in the future
the first message means that somehow user `delta` is not authorized (ur actually sending a post request but delta has no authorization - not existing user, wrong password.. u should find out).
the second message means that ur sending a get re

[2022-10-24 10:28] nik2208 opened #928 "JWT blacklist/deny list"
what about putting up something like [this](https://supertokens.com/blog/revoking-access-with-a-jwt-blacklist)?

[2022-10-24 11:09] mevdschee commented on #928
It is an interesting idea to allow for invalidating your long lived tokens. In a username/password situation one would just clear the password hash to disable an account. A JWT token cannot be invalidated that easy and that's where the idea comes from. Not a bad idea. On the other hand there is a reason why people do frequent key rotation. This is a difficult topic.

[2022-10-24 11:13] mevdschee commented on #926
I'm sure it does, I couldn't have explained it any better.

[2022-10-24 11:30] nik2208 commented on #926
furthermore, auth.php handles more than one configuration, so u can define multiple clients and multiple audience per client. This gives almost infinite possibilities.
This is an example of configuration:
[code]

[2022-10-24 11:39] Deltas92 commented on #927
Thanks for the answer, debugging was active. However, I do not get any message or find any log that could indicate an error.

What the messages mean in detail is also clear to me. The user exists and the corresponding password was sent to /login via POST.

Does the password have to be stored as a hash value in the database? What must the users table look like?

Is the password for the user simply

[2022-10-24 11:40] Deltas92 commented on #927
And here is the example for get the records from the table:

$ch = curl_init($api_url);
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
curl_setopt($ch, CURLOPT_HEADER, false);
curl_setopt($ch, CURLOPT_COOKIEJAR, 'test_'.session_id());
curl_setopt($ch, CURLOPT_COOKIEFILE, 'test_'.session_id());
$res = curl_exec($ch);
curl_close($ch);

[2022-10-24 11:48] Deltas92 commented on #927
I would like to set the API so that you log in there with username and password and then retrieve the data. If I have read this correctly, is DBAuth the right middleware for this ? Or have I misunderstood something in the documentation?

[2022-10-24 12:08] nik2208 commented on #927
U should register the user as described in the docs, because the password is automatically hashed. Or at least store the password already hashed.
the dbauth middleware is what u looking for and it simply works.
make sure u have read and understood the relevant part of the docs: it actually mentions the hashing password process.

[2022-10-24 12:19] nik2208 commented on #928
I understand that, but storing blacklisted keys is quite expensive (from all of the points of view).

the last part of the article opens to opaque token and key rotation.
I haven't investigated enough the topic and the process though.

would be painful to implement that?

[2022-10-24 12:22] nik2208 commented on #928
what about putting the `phpsession` in the `claims` array?

[2022-10-24 12:32] Deltas92 commented on #927
What is the relevant part of the documentary? That's what I'm trying to find out here. I don't find much about DBAuth in the documentation and maybe I'm misunderstanding something. Or am I overlooking something.

If I enter "dbAuth" as middleware, I get the new routes for the API
/me
/register <<< I would now POST to this command.
/login
/password
/logout

However, when I do this via the API, I ge

[2022-10-24 12:45] nik2208 commented on #927
Of course u can start doing that, that would be very useful!
Also in the issues sections if u search dbAuth u will find many answers and maybe you can find the relevant for ur case (there are so many possibility and combinations that it is not so easy to give a sole answer to all the questions).

What is your backend database? I had some (not investigated) problems with mariaDB.

[2022-10-24 12:46] gasalvati commented on #926
Again thanks to you (both) and your share.
As this is not a way of leaving but more a hobby I'll experiment with your guides and examples.
It'll take some time to follow the learning path and as soon as I get my final result I will write down.

Keep helping
Best regards

[2022-10-24 12:52] nik2208 commented on #927
/me
/register <<< I would now POST to this command.
/login
/password
/logout
However, when I do this via the API, I get the message that I do not have permission to do this. Funny.

actually this is an auth method, so you cannot actually request /me if ur not logged in, right? who tell the db who is the "me" your looking for if ur not logged in? nor you cannot logout or change password if your not

[2022-10-24 13:22] Deltas92 commented on #927
When I call the /register Route i get this message:

{"code":1012,"message":"Authentication failed for 'delta'"}

[2022-10-24 13:24] Deltas92 commented on #927
This is my Register CURL

$options = array('username' => 'delta', 'password' =>'test1233' );
$query = http_build_query($options);
$ch = curl_init();
curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
curl_setopt($ch, CURLOPT_HEADER, false);
curl_setopt($ch, CURLOPT_POST, true);
curl_setopt($ch, CURLOPT_URL, $api_url);
curl_setopt($ch, CURLOPT_POSTFIELDS, $query);
$res = curl_exec($ch);
curl_close($ch

[2022-10-24 13:29] nik2208 commented on #927
and what's the response?

why using curl and not edit.swagger.io (importing the api.php's openapi
path?, setting dbauth as optional)?

On Mon, Oct 24, 2022 at 3:25 PM Kjell ***@***.***> wrote:

[2022-10-24 13:43] Deltas92 commented on #927
the $api_url is:  https://MYDOMAIN/register

I use a mysql database.

Why using Curl? Why not? It is a simple way to test it.

How can I register a USER for the DbAuth. Is that so difficult? I do not understand the structure of the Docs.

[2022-10-24 13:43] Deltas92 commented on #927
Thank you !

did u set this: `dbAuth.registerUser` to 1? <<< That was the point i don´t see. Now i can register.

[2022-10-24 13:46] nik2208 commented on #927
https://github.com/mevdschee/php-crud-api#middleware

you can't start reading a book at page 574 ;)

[2022-10-24 13:48] Deltas92 commented on #927
And now the Login and all the rest works too. But a last question.

How do I secure my /register route?

I found this in the doc:

'middlewares' => 'dbAuth,authorization',
'authorization.tableHandler' => function ($operation, $tableName) {
    return $tableName != 'users';
},

However, when I add this to the config, nothing works. Is there a special place where this has to be inserted? I would ins

[2022-10-24 13:50] nik2208 commented on #927
what do u mean with securing? if U want someone to register u enable registration, if u dont u disable it.

[2022-10-24 13:51] Deltas92 commented on #927
I have seen the options for DBAuth, but I overlooked dbAuth.registerUser as an option to set. Maybe it was also because of the time last night that I didn't see it. But something like this suggests that the documentation should perhaps be divided into different segments. Precisely because the API can now do so much and encompasses so much.

[2022-10-24 13:53] Deltas92 commented on #927
I mean this part of the docs:

[2022-10-24 13:56] nik2208 commented on #927
this is a 5 years or so long and 10000 line of code library: even if it makes A LOT OF STUFF simple, it doesn't mean it is simple itself.

Every character in this pages represents someone's time donated to others. U can start donating your's helping us ;)

[2022-10-24 14:01] nik2208 commented on #927
well it does exactly what it says: it prevents users table (so the table used to grant access to users) to be queried and/or modified. U can access your (the logged in user) data via /me endpoint

[2022-10-24 14:02] nik2208 commented on #927
I suggest U to search for dhauth here in issues section, all of these questions have already been answered

[2022-10-24 14:04] Deltas92 commented on #927
Of course I realise that and it is also understandable to me.

What I just want to say is that if you separate and enter the documentation for each middleware, for example, it would bring a lot of clarity.

Currently, you have to read through all the different authentication options in search of what you actually want.

I didn't say that things are always easy just because they are supposed to mak

[2022-10-24 14:05] Deltas92 commented on #927
Thank you for your time and your Help  :)

[2022-10-24 14:22] nik2208 commented on #927
I completely understand what you mean, but somehow, at the end of the day, I find handy this approach of documentation (that is actually a top-down approach).
Many libraries have tons of pages and U easily get lost.
Here you have most of what u need already there.
U have an introduction, then a sort of handbook of out-of-the-box functions, then what we can consider plugins:
at first a list of all

[2022-10-24 15:56] nik2208 commented on #837
@pottertech don't know why u put a thumb here #910 but in the meanwhile I added something relevant here #926 maybe u can find it useful

[2022-10-25 14:19] Datathecodie opened #929 "API call with 2 unique filters gives incorrect results."
Currently using the API to call for filtered user data.

`
$url = $base_url. '/api.php/records/users?filter1=username,eq,' . $username. '&filter2=password,eq,' . $password;
`

Expected: The equivalent SQL should be
`"Select * from users where username = $username AND password = $password".`
As filters are uniquely numbered.

Results: The resultant SQL generates results as
` "Select * from users wh

[2022-10-26 05:48] mevdschee commented on #929
Hi, it works as described in the documentation, see:

https://github.com/mevdschee/php-crud-api#multiple-filters

You are looking for:

    $url = $base_url. '/api.php/records/users?filter=username,eq,' . $username. '&filter=password,eq,' . $password;

Kind regards, Maurits

[2022-10-26 05:48] #929 closed

[2022-10-26 05:51] mevdschee commented on #885
Closing due to inactivity.

[2022-10-26 05:51] #885 closed

[2022-10-26 05:53] #926 closed

[2022-10-26 05:58] mevdschee commented on #927
Thank you for your kind words @Deltas92 and your excellent support @nik2208. Feel free to reopen in case of followup questions. Kindest regards, Maurits

[2022-10-26 05:58] #927 closed

[2022-10-26 08:34] nik2208 opened #930 "a middleware to store blobs (pictures, videos, docs) in the file system"
to store and delete files I wrote a simple php file handles the folder where to store the file and the file/files, giving back the name of the saved files or an empty array if something failed. Same process to delete them.

save
[code]

delete
[code]

sorry for my primitive php..

so before storing the record in the db I save the file, get the path, and send the post request to store the record.
W

[2022-10-26 12:58] mevdschee commented on #930
Did you see this? It is my example showing how to upload a base64 encoded file to a database (LONGBLOB) field.

https://github.com/mevdschee/php-crud-api/blob/main/examples/clients/upload/vanilla.html

I had the same idea 6 years ago, but never implemented it. I started a repo for it:

https://github.com/mevdschee/php-file-api

Maybe we can make it a Custom Controller in this project?

[2022-10-26 13:06] nik2208 commented on #930
Yes of course I've partially used it in my javascript. What I would like to avoid is to store pictures or files in the database, preferring the file system as storing solution. The javascript would actually do the same job, but the called api would store the file in the file system and give back the path of the stored file. That path would be stored in the db. With all the advantages of a lighter

[2022-10-26 13:50] nik2208 commented on #930
yes sorry.. custom controller.. not middleware

[2022-10-26 17:31] nik2208 commented on #930
I've forked the project.
I need your advice on how to proceed.
I suppose we should add a file (like FileUploadController) in the controller folder, then.. dedicate an entire folder to its files like u did in geojson? or is it enough the controller itself?

This is how I imagine it to work.
the controller could have a default, configurable folder setting, and accept post request to the endpoints `s

[2022-10-27 20:44] Datathecodie commented on #929
Pardon me for not recognising the difference.

Thanks for the quick resolution. Kudos to you and the project.

[2022-10-28 06:55] mevdschee commented on #929
Thank you for your kind words, appreciated!

[2022-10-29 16:07] pottertech opened #931 "allowMethods Question..."
I want to restrict the API to only the OPTIONS and GET methods,  is my configuration for this correct?

    $config = new Config([
        'driver' => 'mysql',
        'address' => '1.2.3.4',
        'port' => '3306',
        'username' => 'username',
        'password' => 'password',
        'database' => 'dbname',
        'debug' => false,
        'middlewares' => 'cors,errors,json,authorization

[2022-10-30 09:28] mevdschee commented on #931
No, that only restricts it for cross origin requests. Please take a look at #871

[2022-10-30 13:43] pottertech commented on #931
OK Thanks for the link.

[2022-10-30 13:43] #931 closed

[2022-11-01 19:11] nik2208 opened #932 "customization handler convert uuid2bin during update in beforehandler / bin2uuid during list in afterhandler"
[this](https://lefred.be/content/mysql-uuids/) article seems to give a valid and performance option to use uuids as primary keys.
So I would let mysql generate uuids on post, then convert bin2uuid/uuid2bin respectively in customization.afterHandler for get requests and customization.beforeHandler for put/patch/delete.

Does it seem to be reasonable?

How would I implement it in beforeHandler/after

[2022-11-01 21:50] mevdschee commented on #932
Okay, I've read the article and I'm not convinced at all.

Yeah you could try to implement UUID support in the PHP-CRUD-API, but I would skip the binary UUID. UTF-8 has a binary collation [utf8mb4_bin](https://stackoverflow.com/questions/37364618/utf8mb4-unicode-ci-vs-utf8mb4-bin) and in UTF8 7 bit ASCII characters (of which a UUID is made from) are always 1 byte.

[2022-11-01 22:43] pottertech commented on #932
There are Unique UIDs (UUID), Global UIDs (GUID), and Sequential UIDs (SGUID).  Each is better than the next and should be considered when designing your database and where the UIDs are being generated and how many machines are contributing data to the database.

[2022-11-02 00:47] mevdschee commented on #932
@pottertech I thought UUID vs GUID is more of a Microsoft vs RFC thing, see [here](https://stackoverflow.com/questions/246930/is-there-any-difference-between-a-guid-and-a-uuid). Also I believe that Sequential UIDs have the same problem as auto-increment fields they need a (centralized) oracle to produce them.

[2022-11-02 05:40] nik2208 commented on #932
@mevdschee, the matter to me is how to store uuids more than where to generate them. If what the article says is right and storing the uuid as bin(16) is that much better option than storing it as varchar, there would be the problem of converting it from binary to char in get requests and viceversa in others, and I would do that in beforeHandler and afterHandler functions.
But my php knowledge doe

[2022-11-02 05:45] nik2208 commented on #932
@mevdschee so doesn't matter (at the moment) whether I auto generate a UUIDv1 in mysql or a UUIDv4 client side, I would like to eventually get in response a masked json showing the string version of them.
Does it sound?

[2022-11-02 07:04] mevdschee commented on #932
I doubt it. The difference is a 16 byte vs 36 byte in index size (and not 16 vs 144 byte) and you are introducing complexity because of a hearsay performance improvement. I'm not a fan of such "optimizations".

You introduce a lot of computation and complexity while you could just generate uuidv4 client side and store it as-is in the right collation (as an optimization) in a char(36) field. I'm sk

[2022-11-02 07:35] nik2208 commented on #932
ok I'll work on it and do some test.
For testing and for potential other purposes, what would be the approach to transform data using the customization handler?
I found this in the issue section (used in afterHandler):
[code]
what would be the equivalent for beforeHandler function?
would simply be `$request->getBody()->getContents`?

I don't know how to get output so I'm struggling trying to debug

[2022-11-02 07:53] mevdschee commented on #932
Yes, but not necessarily with RequestFactory, you can also return `$request->withBody($newBody)`, see:

https://github.com/mevdschee/php-crud-api/issues/599#issue-528203652

[2022-11-02 16:34] pottertech commented on #932
All of my comments are more generic database related terms and not specific to the operating system. For me I would make sure for any UIDs to consider storage size, speed, sorting.  Not all the different UIDs give you everything.

[2022-11-02 17:55] mevdschee commented on #932
I don't think you approach is feasible in Middleware, as you also need to modify filter and comparison behavior (I did a short hacking session to modify the JsonMiddleware, but I failed). Either this should be handled the way binary fields are handled (binary fields are represented as base64 strings) or it should be left to the client (as I already suggested). Supporting UUID as char(36) seems not

[2022-11-02 17:59] mevdschee commented on #932
This would require a way to indentify columns that have a UUID 'type'. This could be any unsigned bigint or any binary 16 char field, but that seems a bit 'magic' to me (as it is with boolean types as well). We would then have to make this configurable to overcome that obstacle. Anyway.. I think it is a lot of work for (at best) a performance improvement, as the functionality is already there.

[2022-11-05 09:55] irnei84 opened #933 "Api Key problem"
Hi !
I have a little problem with the API key authentication.

using this configuration in api.php :

[code]
but if i make a call with postman i recived a simple errorr 500 without information.
removing the configuration about middlewares and apiKey it works fine.

i'm not understand what i missing...

![image](https://user-images.githubusercontent.com/41480519/200114038-2d473181-be90-4dd8-a8e3-76

[2022-11-06 10:05] mevdschee commented on #933
Hi, thank you for creating this issue. Did you enable debug? Can you post what the response headers are?

[2022-11-08 12:23] nik2208 commented on #933
This library handles (in my experience) almost any error. Most of the times error 500 is due to syntax error.
Just make sure (before going on in debugging) that the customization function is correct in commas brackets an so on

[2022-11-08 19:15] mevdschee commented on #933
Okay, please check the (PHP) error log of the server and post what it says in there.

[2022-11-10 19:03] irnei84 commented on #933
Ok i've found this thing into the log.
Sorry but i've only this log available, the api is hosted in a aruba wordpress host.

WARNING: [pool www.ostetricadelcuore.it] child 2168 said into stderr: "[10-Nov-2022 20:00:48 Europe/Rome] PHP Parse error: syntax error, unexpected ''middlewares'' (T_CONSTANT_ENCAPSED_STRING), expecting ']' in /web/htdocs/www.ostetricadelcuore.it/home/_api/api.php on line 1

[2022-11-10 19:43] mevdschee commented on #933
Can you share lines 12377-12379 of the file '/web/htdocs/www.ostetricadelcuore.it/home/_api/api.php' with us?

[2022-11-10 20:08] irnei84 commented on #933
![image](https://user-images.githubusercontent.com/41480519/201195557-aa8cd73c-8682-44a4-95cb-47e2fdfcf21a.png)

`    $config = new Config([
        'driver' => 'mysql',
        'address' => '89.46.111.15',
        'port' => '3306',
        'username' => 'Sql955622',
        'password' => '437e2t5p0l',
        'database' => 'Sql955622_5',
		'middlewares' => 'apiKeyAuth',
		'apiKeyAuth.keys' => '02

[2022-11-10 20:13] irnei84 commented on #933
Ok, i've found the problem.
a missing comma before debug...

[2022-11-11 06:18] mevdschee commented on #933
I'm glad you found it! Enjoy the software.

[2022-11-11 06:18] #933 closed

[2022-11-17 08:52] kkrell2016 opened #935 "Update userdata in $_SESSION"
It would be great if the user data would be updated every time you call it. At the moment you have to log out and log in again when you change attributes of a user in the database. Maybe with a flag in the config to control the behavior.

[2022-11-18 06:16] apps-caraga commented on #935
How would this work? Like, if an admin changes your username or access level, does it mean it automatically gets effected on the client-side or current user session?

[2022-11-18 06:55] mevdschee commented on #935
It can affect the server side permission handlers when a role changes.

[2022-11-18 07:28] apps-caraga commented on #935
2 possible scenarios.
1. User makes changes to his/her own profile
2. Admin does the changes to another user.

For #1, we can require the user to enter the password when changing any critical profile information. This essentially does the re-logout/login routine.

For #2, this could be limited to changing or setting the users' access level.

[2022-11-21 11:21] kkrell2016 commented on #935
It is not only about the access rights. In my case, the administrator also changes some other fields. Of course, the changes are updated only on server side. But in general everything should also be controlled on server side. "Never trust the client" :)
Currently I put my code for the update in the before handler.

[2022-11-30 00:56] kkrell2016 opened #936 "Suggestion for Info in Readme"
This is a suggestion rather than a bug or problem.

The readme should point out that the order in which middleware is defined also controls the order in which it is executed. It is also possible to call a middleware more than once.

I don't know if this is intentional, but it cost me some nerves :) I struggled with sanitation and validation for example. But there are some great options as well.

I

[2022-11-30 06:34] mevdschee commented on #936
Hi @kkrell2016, thank you for opening this issue.

Agree.

I would not recommend to do that.

Yes, it is intentional.

Can you propose an addition to the documentation that makes this clear?

Kindest regards, Maurits

[2022-11-30 06:50] mevdschee commented on #784
Released in v2.14.15

[2022-11-30 06:50] #784 closed

[2022-11-30 06:51] mevdschee commented on #827
It is released in v2.14.15